name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  # Limits parallel compilation to save RAM on your phone
  CARGO_BUILD_JOBS: 1 

jobs:
  build:
    # Change this to 'self-hosted' to target your Termux runner
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4
    
    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose
